body {
    background-color: black;
}

.pinkygoosy {
    color: white;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

span {
    color: pink;
}

.logo {
    font-size: 30px;
    color: white;
}

.stuk2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.container2 {
    display: flex;
    width: 1000px;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.tekst1 {
    font-size: 60px;
    color: white;
    width: 400px;
}

.tekst2 {
    display: flex;

    font-size: 20px;
    color: white;
    width: 450px;
    flex-direction: column;
    align-items: center;
}

.get-started {
    display: flex;
    margin-top: 50px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(236, 144, 236);
    justify-content: center;
    align-items: center;
}

.arrow-down {
    margin-top: 80px;
}



.tekst3 {
    display: flex;
    color: white;
    font-size: 40px;
    margin-top: 25px;
    justify-content: center;
}

.dao {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.dao1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}


.investment-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #FFB4D3;
    background-color: #182632;
    align-items: center;
}

.start-up-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #FFC24C;
    background-color: #182632;
    align-items: center;
}

.service-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #D387F7;
    background-color: #182632;
    align-items: center;
}

.community-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #77E6FF;
    background-color: #182632;
    align-items: center;
}

.impact-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #23C9DE;
    background-color: #182632;
    align-items: center;
}

.defi-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #FF9E9E;
    background-color: #182632;
    align-items: center;
}

.more-dao {
    display: flex;
    width: fit-content;
    padding: 15px;
    height: 10px;
    border-radius: 20px;
    color: #707F8D;
    background-color: #182632;
    align-items: center;
}

.gamebox1{
    display: flex;
    justify-content: center;
    width: 100%;
}
.gamebox2 {
    display: flex;
    justify-content: center;
    width: 600px;
}
.plek-superdao{
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.superdao {
    display: flex;
    width: fit-content;
    padding-inline: 8px;
    height: 20px;
    font-size: 12px;
    border-radius: 20px;
    color: #0A1117;
    background-color: #FFB4D3;
    align-items: center;
}

.designed{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    font-size: 40px;
}

.organisation{
    display: flex;
    align-items: center;
    flex-direction: column;
    
    color: #37424D;
    font-size: 40px;
}
.launch {
        display: flex;
    align-items: center;
    flex-direction: column;
    color: #FFB4D3;
    font-size: 40px;
}

.works{
    display: flex;
    justify-content: center;
    margin: 100px;
    color: white;
    font-size: 40px;
}
.test2{
    display: flex;
    justify-content: center;
}
.test3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.test4{
    color:white;
    display: flex;
    justify-content: center;
}

.test {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 25px;
    color: #FF9E9E;
    border: 2px solid #2A3744;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.help-us{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 45px;
    margin-top: 110px;
    margin-bottom: 20px;
}

.foto-help{
    display: flex;
    justify-content: center;
}
.foto-help-change{
    border-radius: 30px;
    margin: 10px;
}
.ster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}
.ster-grote {
    width: 30px;
    height: 30px;
   margin: 10px;
   margin-bottom: -6px;
}

.ster-dichtbij{
    margin: 0px;
}

.weekly-display{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.weekly{
    display: flex;
    height: 190px;
    width: 500px;
    background-color: #121E28;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 3px solid #3D4C5B;

}

.new-dao{
    display: flex;
    justify-content: center;
    color: #3D4C5B;
}

.weekly-email{
    color: #2A3744;
    border: 2px solid #2A3744;
    background-color: #121E28;
}

.subscribe{
    background-color: #CEAAFF;
    border-radius: 5px;

}

.press{
    display: flex;
    justify-content: space-around;
    color: white;

}

.press-grote{
    font-size: 25px;
}

.press-see{
    color: #8395A7;

}
.press-flex{
    display: flex;
    flex-direction: column;

}

.press-flex2{
    display: flex;
    justify-content: center;

}



.press-block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    background-color: #77E6FF;
    border-radius: 15px;
    margin: 10px;
}
.press-block2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    background-color: #E2C1F9;
     border-radius: 15px;
     margin: 10px;
}
.press-block3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 200px;
    background-color: #DBE268;
    border-radius: 15px;
    margin: 10px;
}

.press-box-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.press-foto1{
    height: 30px;
    width: 90px;
}

.press-text2{
    font-size: 10px;
}

.read{
    color: #10151A;
}
.press-foto2{
    height: 17px;
    width: 105px;
}
.press-foto3{
    height: 18px;
    width: 120px;
}
.podcast-block1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 200px;
    color: white;
    background-color: #121E28;
    border: 2px solid #2A3744;
    border-radius: 15px;
    margin: 10px;
}
.listen{
    color: white;
}
.podcast-foto{
    height: 25px;
    width: 25px;
}
.podcast-text2{
    font-size: 10px;
    color: #E2E2E2;
}

.sterren1-plek{
    display: flex;
    justify-content: center;
}
.sterren1{
    margin: 60px;
    height: 50px;
    width: 42px;
}

.your-idea{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.telegram-block{
height: 60px;
width: 170px;
background-color: #FFC803;
display: flex;
color: #4D3705;
border-radius: 10px;
margin: 10px;

}


.blockje-flex{
    display: flex;
    flex-direction: column;
} 

.your-idea-text1{
    color: white;
    font-size: 30px;
    margin: 10px;
}
.your-idea-text2{
    font-size: 30px;
    color: #5A6C7E;
    margin: 10px;

}
.telegram-foto{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.telegram-text2{
    font-size: 13px;
}
.email-blockje{
    height: 60px;
width: 170px;
color: #4D3705;
display: flex;
background-color: rgb(162, 88, 162);
border-radius: 10px; 
margin: 10px;


}

.email-telegram-flex{
    display: flex;

}
.end-box{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #121E28;
    justify-content: space-around;
    align-items: center;
}
.tekst1-end{
    font-size: 20px;
color: white;
margin: 20px;
}
.tekst2-end{
       font-size: 20px;
color: yellow;
margin: 20px;
}

.foto-end-flex{
    display: flex;
}
.end-flex{
    display: flex;
    align-items: center;
}

.three-star{
display: flex;
position: relative;
left: 150px;
top: 70px;
height: 50px;
width: 50px;
}
.stars-1{
display: flex;
position: relative;
left: 750px;
top: 80px;
height: 50px;
width: 50px;
}
.stars-4{
   display: flex;
position: relative;
left: 200px;
top: 140px;
height: 50px;
width: 50px; 
}

.stars-5{
display: flex;
position: relative;
left: 600px;
top: 140px;
height: 50px;
width: 50px;
}
.stars-2{
    display: flex;
position: relative;
left: 280px;
top: 25px;
height: 50px;
width: 50px;
}
.stars-3{
       display: flex;
position: relative;
left: 100px;
top: 0px;
height: 50px;
width: 50px; 
}
.hero-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 180px;
    width: 200px;
    background-color: #FFB4D3;
    border-radius: 15px;
    margin: 10px;
}
.hero-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact-flex{
    display: flex;
    height: 100%;
    width: 95%;
    align-items: end;
    justify-content: end;
}
.hero-grote{
    width: 100px;
    height: 100px;
    border-radius: 20px;
}
.hero-naam{
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
}




